/* Make sure the dropdown content is hidden by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px; /* Set max height for scroll */
    overflow-y: auto; /* Allow scrolling */
}

.dropdown-content label {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Style the button */
.dropdown button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    text-align: left;
}

/* Show the dropdown when clicked */
.dropdown-content.show {
    display: block;
}
